<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns       = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "net.trust-design.savethecats"
        versionCode = "11"
        version     = "0.0.2">
 
    <name>Save the Cats</name>
 
    <description>
        Save the Cats Game
    </description>
 
    <author href="http://www.trust-design.net" email="m.froschmeier@trust-design.net">
        Matthias Froschmeier
    </author>

 	<preference name="orientation" value="landscape" />
 	
 	<preference name="permissions" value="none"/>
 	
 	<gap:plugin name="com.adobe.plugins.gaplugin" version="2.4.0" />
 	<gap:plugin name="com.google.cordova.admob" source="plugins.cordova.io" />
</widget>